<h1>Q &amp; A</h1>
<hr/>

<div class="list-group container-fluid">
  <form class="form-inline" role="form">
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Ask a question" />
    </div>
    <div class="form-group">
        <button class="btn btn-default">Add</button>
    </div>
    <div>
      <span class="label label-default">Default</span>
    </div>
  </form>
</div>

<ul class="list-group container-fluid">
  <li class="list-group-item">
    <div class="row">
        <a href="/questions/show.html" class="col-xs-6">Fav spot?</a>
        <div class="col-xs-2"><a href="#"><b>8</b> Votes</a></div>
        <div class="col-xs-2">Views</div>
        <div class="col-xs-2">Answers</div>
    </div>
    <div class="row">
        <div class="col-xs-8">
          <span class="label label-default">Location</span>
          <span class="label label-default">Info</span>
          <span class="label label-default">Food</span>
        </div>
        <div class="col-xs-2">Username</div>
        <div class="col-xs-2">Date</div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <a href="/questions/show.html" class="col-xs-6">Carpool to Whistler?</a>
      <div class="col-xs-2"><a href="#"><b>8</b> Votes</a></div>
      <div class="col-xs-2">Views</div>
      <div class="col-xs-2">Answers</div> 
    </div>
    <div class="row">
      <div class="col-xs-8">
        <span class="label label-default">Transportation</span>
      </div>
      <div class="col-xs-2">Username</div>
      <div class="col-xs-2">Date</div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <a href="/questions/show.html" class="col-xs-6">Avalanche kit?</a>
      <div class="col-xs-2"><a href="#"><b>8</b> Votes</a></div>
      <div class="col-xs-2">Views</div>
      <div class="col-xs-2">Answers</div> 
    </div>
    <div class="row">
      <div class="col-xs-8">
        <span class="label label-default">Info</span>
      </div>
      <div class="col-xs-2">Username</div>
      <div class="col-xs-2">Date</div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <a href="/questions/show.html" class="col-xs-6">Top tricks?</a>
      <div class="col-xs-2"><a href="#"><b>8</b> Votes</a></div>
      <div class="col-xs-2">Views</div>
      <div class="col-xs-2">Answers</div> 
    </div>
    <div class="row">
      <div class="col-xs-8">
        <span class="label label-default">Skills</span>
      </div>
      <div class="col-xs-2">Username</div>
      <div class="col-xs-2">Date</div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <a href="/questions/show.html" class="col-xs-6">Cheap eats?</a>
      <div class="col-xs-2"><a href="#"><b>8</b> Votes</a></div>
      <div class="col-xs-2">Views</div>
      <div class="col-xs-2">Answers</div> 
    </div>
    <div class="row">
      <div class="col-xs-8">
        <span class="label label-default">Food</span>
      </div>
      <div class="col-xs-2">Username</div>
      <div class="col-xs-2">Date</div>
    </div>
  </li>
</ul>