<h1>Q &amp; A</h1>
<hr/>

<ul class="list-group container-fluid">
  <li class="list-group-item">
    <div class="row">
        <a href="/questions/show.html" class="col-xs-6">Fav spot?</a>
        <div class="col-xs-2"><a href="#"><b>8</b> Votes</a></div>
        <div class="col-xs-2">Views</div>
        <div class="col-xs-2">Answers</div>
    </div>
  </li>
</ul>

<div class="comments container">
  <div class="row">
    <h3>Answers</h3>
    <hr/>
  </div>
  <div class="well well-sm row">
    <img src="http://lorempixel.com/48/48/people" alt="" class="img-circle pull-left" />
    <a href="#">ggoulart</a> <em>on March 5th, 2014</em><br>
    Whistler up at the peak!
  </div>
</div>

<div class="list-group container-fluid">
  <form class="form-inline" role="form">
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Answer" />
    </div>
    <div class="form-group">
        <button class="btn btn-default">Add</button>
    </div>
  </form>
</div>