<div class="row comments container">
  <% object.comments.each do |comment| %>
    <div class="col-sm-12 well well-sm">
      <div class="col-sm-1">
        <%= image_tag gravatar(comment.user.email, 48), :class => "img-circle" %>
      </div>
      <div class="col-sm-11">
        <%= comment.user.try(:name) %> 
        <em>on <%= formatted_date(comment.created_at) %></em><br>
        <%= comment.text %>
      </div>
    </div>
  <% end %>
</div>