      <div class="padded">
        <div class="row">
          <div class="three fifths bounceInRight animated">
            <h1 class="zero museo-slab">Animations</h1>
            <p class="quicksand">A collection of pure CSS3 animations, mostly from <a href="http://daneden.me/animate/" target="_blank">Animate.css</a> by <a href="http://twitter.com/_dte" target="_blank">Dan Eden</a></p>
          </div>
          <div class="two fifths align-right-ipad align-right-desktop flipInX animated">
            <p class="quicksand">Component Usage Example 14 of 14</p>
            <p><a href="placeholder_text.html" rel="prev" class="blue button">Back</a> <a href="home.html" rel="next" class="green button">Return Home</a></p>
          </div>
        </div>
        <hr><br>
      </div>
    </div>
    <h4 style="width:20em;margin-left:-10em;text-align:center;z-index:1;" class="fixed center">
      <button id="animateTest" class="large asphalt bounceInLeft animated">I do awesome things.</button>
    </h4><br><br><br><br>
    <div class="container">
      <div class="padded">
        <hr><br>
        <div class="row">
          <div class="one half padded">
            <h4>Attention seekers</h4>
            <button data-test="flash" class="gap-bottom">flash</button>
            <button data-test="bounce" class="gap-bottom">bounce</button>
            <button data-test="shake" class="gap-bottom">shake</button>
            <button data-test="tada" class="gap-bottom">tada</button>
            <button data-test="swing" class="gap-bottom">swing</button>
            <button data-test="wobble" class="gap-bottom">wobble</button>
            <button data-test="pulse" class="gap-bottom">pulse</button>
          </div>
          <div class="one half padded">
            <h4 class="gap-top">Flippers</h4>
            <button data-test="flip" class="gap-bottom">flip</button>
            <button data-test="flipInX" class="gap-bottom">flipInX</button>
            <button data-test="flipOutX" class="gap-bottom">flipOutX</button>
            <button data-test="flipInY" class="gap-bottom">flipInY</button>
            <button data-test="flipOutY" class="gap-bottom">flipOutY</button>
          </div>
        </div>
        <div class="row">
          <div class="one half padded">
            <h4 class="gap-top">Fading entrances</h4>
            <button data-test="fadeIn" class="gap-bottom">fadeIn</button>
            <button data-test="fadeInUp" class="gap-bottom">fadeInUp</button>
            <button data-test="fadeInDown" class="gap-bottom">fadeInDown</button>
            <button data-test="fadeInLeft" class="gap-bottom">fadeInLeft</button>
            <button data-test="fadeInRight" class="gap-bottom">fadeInRight</button>
            <button data-test="fadeInUpBig" class="gap-bottom">fadeInUpBig</button>
            <button data-test="fadeInDownBig" class="gap-bottom">fadeInDownBig</button>
            <button data-test="fadeInLeftBig" class="gap-bottom">fadeInLeftBig</button>
            <button data-test="fadeInRightBig" class="gap-bottom">fadeInRightBig</button>
          </div>
          <div class="one half padded">
            <h4 class="gap-top">Fading exits</h4>
            <button data-test="fadeOut" class="gap-bottom">fadeOut</button>
            <button data-test="fadeOutUp" class="gap-bottom">fadeOutUp</button>
            <button data-test="fadeOutDown" class="gap-bottom">fadeOutDown</button>
            <button data-test="fadeOutLeft" class="gap-bottom">fadeOutLeft</button>
            <button data-test="fadeOutRight" class="gap-bottom">fadeOutRight</button>
            <button data-test="fadeOutUpBig" class="gap-bottom">fadeOutUpBig</button>
            <button data-test="fadeOutDownBig" class="gap-bottom">fadeOutDownBig</button>
            <button data-test="fadeOutLeftBig" class="gap-bottom">fadeOutLeftBig</button>
            <button data-test="fadeOutRightBig" class="gap-bottom">fadeOutRightBig</button>
          </div>
        </div>
        <div class="row">
          <div class="one half padded">
            <h4 class="gap-top">Bouncing entrances</h4>
            <button data-test="bounceIn" class="gap-bottom">bounceIn</button>
            <button data-test="bounceInDown" class="gap-bottom">bounceInDown</button>
            <button data-test="bounceInUp" class="gap-bottom">bounceInUp</button>
            <button data-test="bounceInLeft" class="gap-bottom">bounceInLeft</button>
            <button data-test="bounceInRight" class="gap-bottom">bounceInRight</button>
          </div>
          <div class="one half padded">
            <h4 class="gap-top">Bouncing exits</h4>
            <button data-test="bounceOut" class="gap-bottom">bounceOut</button>
            <button data-test="bounceOutDown" class="gap-bottom">bounceOutDown</button>
            <button data-test="bounceOutUp" class="gap-bottom">bounceOutUp</button>
            <button data-test="bounceOutLeft" class="gap-bottom">bounceOutLeft</button>
            <button data-test="bounceOutRight" class="gap-bottom">bounceOutRight</button>
          </div>
        </div>
        <div class="row">
          <div class="one half padded">
            <h4 class="gap-top">Rotating entrances</h4>
            <button data-test="rotateIn" class="gap-bottom">rotateIn</button>
            <button data-test="rotateInDownLeft" class="gap-bottom">rotateInDownLeft</button>
            <button data-test="rotateInDownRight" class="gap-bottom">rotateInDownRight</button>
            <button data-test="rotateInUpLeft" class="gap-bottom">rotateInUpLeft</button>
            <button data-test="rotateInUpRight" class="gap-bottom">rotateInUpRight</button>
          </div>
          <div class="one half padded">
            <h4 class="gap-top">Rotating exits</h4>
            <button data-test="rotateOut" class="gap-bottom">rotateOut</button>
            <button data-test="rotateOutDownLeft" class="gap-bottom">rotateOutDownLeft</button>
            <button data-test="rotateOutDownRight" class="gap-bottom">rotateOutDownRight</button>
            <button data-test="rotateOutUpLeft" class="gap-bottom">rotateOutUpLeft</button>
            <button data-test="rotateOutUpRight" class="gap-bottom">rotateOutUpRight</button>
          </div>
        </div>
        <div class="row">
          <div class="one half padded">
            <h4 class="gap-top">Lightspeed</h4>
            <button data-test="lightSpeedIn" class="gap-bottom">lightSpeedIn</button>
            <button data-test="lightSpeedOut" class="gap-bottom">lightSpeedOut</button>
          </div>
          <div class="one half padded">
            <h4 class="gap-top">Specials</h4>
            <button data-test="hinge" class="gap-bottom">hinge</button>
            <button data-test="rollIn" class="gap-bottom">rollIn</button>
            <button data-test="rollOut" class="gap-bottom">rollOut</button>
          </div>
        </div>
        <div class="row">
          <div class="one third padded">
            <h4 class="gap-top">Spin</h4>
            <button data-test="spin" data-timing="12000" class="gap-bottom">spin (continuous)</button>
            <button data-test="spin-once" data-timing="2000" class="gap-bottom">spin-once</button>
            <button data-test="spin-twice" data-timing="4000" class="gap-bottom">spin-twice</button>
            <button data-test="spin-thrice" data-timing="6000" class="gap-bottom">spin-thrice</button>
          </div>
          <div class="one third padded">
            <h4 class="gap-top">Spin Fast</h4>
            <button data-test="spin-fast" data-timing="6000" class="gap-bottom">spin-fast (continuous)</button>
            <button data-test="spin-fast-once" data-timing="1000" class="gap-bottom">spin-fast-once</button>
            <button data-test="spin-fast-twice" data-timing="2000" class="gap-bottom">spin-fast-twice</button>
            <button data-test="spin-fast-thrice" data-timing="3000" class="gap-bottom">spin-fast-thrice</button>
          </div>
          <div class="one third padded">
            <h4 class="gap-top">Spin Slow</h4>
            <button data-test="spin-slow" data-timing="30000" class="gap-bottom">spin-slow (continuous)</button>
            <button data-test="spin-slow-once" data-timing="5000" class="gap-bottom">spin-slow-once</button>
            <button data-test="spin-slow-twice" data-timing="10000" class="gap-bottom">spin-slow-twice</button>
            <button data-test="spin-slow-thrice" data-timing="15000" class="gap-bottom">spin-slow-thrice</button>
          </div>
        </div>
        <script type="text/javascript">
          $(document).ready(function() {
            var resetTest;
            resetTest = function() {
              return $('#animateTest').removeClass().addClass('large asphalt animated').text('I do awesome things.');
            };
            return $('body').on('click', '[data-test]', function(e) {
              var _this = this;
              resetTest();
              clearTimeout(window.reset);
              $('#animateTest').removeClass().addClass('large asphalt animated ' + $(this).attr('data-test')).text('I ' + $(this).attr('data-test') + '.');
              return window.reset = setTimeout(function() {
                return resetTest();
              }, $(this).attr('data-timing') || 1300);
            });
          });
        </script>
      </div>
