      <div class="padded">
        <div class="row">
          <div class="three fifths bounceInRight animated">
            <h1 class="zero museo-slab">Buttons</h1>
            <p class="quicksand">Easy-to-customize button styles</p>
          </div>
          <div class="two fifths align-right-ipad align-right-desktop flipInX animated">
            <p class="quicksand">Component Usage Example 5 of 14</p>
            <p><a href="navigation.html" rel="prev" class="blue button">Back</a> <a href="boxes.html" rel="next" class="green button">Next: Boxes</a></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="one whole padded">
          <div class="bounceInRight animated">
            <h4>Buttons</h4>
            <div class="row">
              <div class="one small-tablet third padded">
                <h4>Sizes</h4>
                <p>
                  <button class="small">Small Button</button>
                </p>
                <p>
                  <button>Medium Button</button>
                </p>
                <p>
                  <button class="large">Large Button</button>
                </p>
              </div>
              <div class="one small-tablet third padded">
                <h4>Types</h4>
                <p>
                  <button>Normal Button</button>
                </p>
                <p>
                  <button class="info">Info Button</button>
                </p>
                <p>
                  <button class="success">Success Button</button>
                </p>
                <p>
                  <button class="alert">Alert Button</button>
                </p>
                <p>
                  <button class="question">Question Button</button>
                </p>
                <p>
                  <button class="warning">Warning Button</button>
                </p>
                <p>
                  <button class="error">Error Button</button>
                </p>
              </div>
              <div class="one small-tablet third padded">
                <h4>Styles</h4>
                <p>
                  <button>Normal Button</button>
                </p>
                <p>
                  <button class="square">Square Button</button>
                </p>
                <p>
                  <button class="round">Round Button</button>
                </p>
                <p>
                  <button class="block">Block Button</button>
                </p>
              </div>
            </div>
          </div>
          <hr><br>
          <div class="bounceInLeft animated">
            <h4>States</h4>
            <div class="row">
              <div class="one small-tablet third padded">
                <h4>Normal</h4>
                <p>
                  <button>Button</button>
                </p>
                <p>
                  <button class="info">Info</button>
                </p>
                <p>
                  <button class="success">Success</button>
                </p>
                <p>
                  <button class="alert">Alert</button>
                </p>
                <p>
                  <button class="question">Question</button>
                </p>
                <p>
                  <button class="warning">Warning</button>
                </p>
                <p>
                  <button class="error">Error</button>
                </p>
              </div>
              <div class="one small-tablet third padded">
                <h4>Active</h4>
                <p>
                  <button aria-selected="true">Active Button</button>
                </p>
                <p>
                  <button aria-selected="true" class="info">Active Info</button>
                </p>
                <p>
                  <button aria-selected="true" class="success">Active Success</button>
                </p>
                <p>
                  <button aria-selected="true" class="alert">Active Alert</button>
                </p>
                <p>
                  <button aria-selected="true" class="question">Active Question</button>
                </p>
                <p>
                  <button aria-selected="true" class="warning">Active Warning</button>
                </p>
                <p>
                  <button aria-selected="true" class="error">Active Error</button>
                </p>
              </div>
              <div class="one small-tablet third padded">
                <h4>Disabled</h4>
                <p>
                  <button disabled="disabled" aria-disabled="true">Disabled Button</button>
                </p>
                <p>
                  <button disabled="disabled" aria-disabled="true" class="info">Disabled Info</button>
                </p>
                <p>
                  <button disabled="disabled" aria-disabled="true" class="success">Disabled Success</button>
                </p>
                <p>
                  <button disabled="disabled" aria-disabled="true" class="alert">Disabled Alert</button>
                </p>
                <p>
                  <button disabled="disabled" aria-disabled="true" class="question">Disabled Question</button>
                </p>
                <p>
                  <button disabled="disabled" aria-disabled="true" class="warning">Disabled Warning</button>
                </p>
                <p>
                  <button disabled="disabled" aria-disabled="true" class="error">Disabled Error</button>
                </p>
              </div>
            </div>
          </div>
          <hr><br>
          <div class="bounceInRight animated">
            <h4>Colors</h4>
            <div class="row">
              <div class="one whole">
                <button class="yellow gap-right gap-bottom">Yellow Button</button>
                <button class="orange gap-right gap-bottom">Orange Button</button>
                <button class="red gap-right gap-bottom">Red Button</button>
                <button class="pink gap-right gap-bottom">Pink Button</button>
                <button class="purple gap-right gap-bottom">Purple Button</button>
                <button class="asphalt gap-right gap-bottom">Asphalt Button</button>
                <button class="blue gap-right gap-bottom">Blue Button</button>
                <button class="turquoise gap-right gap-bottom">Turquoise Button</button>
                <button class="green gap-right gap-bottom">Green Button</button>
                <button class="charcoal gap-right gap-bottom">Charcoal Button</button>
              </div>
            </div>
          </div>
          <hr><br>
          <div class="bounceInRight animated">
            <h4>Semantic Link Types</h4>
            <div class="row">
              <div class="one whole padded"><a role="button" href="home.html" class="gap-bottom gap-right">Hyperlink</a><a role="button" href="#link-types" class="gap-bottom gap-right">Anchor</a><a role="button" href="https://google.com" class="gap-bottom gap-right">Secure</a><a role="button" href="http://google.com" target="_blank" class="gap-bottom gap-right">New Window</a><a role="button" href="view-source:http://google.com" class="gap-bottom gap-right">View Source</a><a role="button" href="example.gif" class="gap-bottom gap-right">Image</a><a role="button" href="example.pdf" class="gap-bottom gap-right">PDF Document</a><a role="button" href="example.doc" class="gap-bottom gap-right">Word Document</a><a role="button" href="example.txt" class="gap-bottom gap-right">Text Document</a><a role="button" href="example.md" class="gap-bottom gap-right">Markdown Document</a><a role="button" href="example.zip" class="gap-bottom gap-right">ZIP File</a><a role="button" href="example.exe" class="gap-bottom gap-right">Executable File</a><a role="button" href="home.html" rel="home" class="gap-bottom gap-right">Home</a><a role="button" href="#" rel="search" class="gap-bottom gap-right">Search</a><a role="button" href="#" rel="author" class="gap-bottom gap-right">Author</a><a role="button" href="#" rel="help" class="gap-bottom gap-right">Help</a><a role="button" href="#" rel="tag" class="gap-bottom gap-right">Tag</a><a role="button" href="#" rel="bookmark" class="gap-bottom gap-right">Bookmark</a><a role="button" href="#" rel="prev" class="gap-bottom gap-right">Previous</a><a role="button" href="#" rel="next" class="gap-bottom gap-right">Next</a><a role="button" href="#" rel="directory" class="gap-bottom gap-right">Directory</a><a role="button" href="#" rel="payment" class="gap-bottom gap-right">Payment</a><a role="button" href="mailto:user@example.com" class="gap-bottom gap-right">Email</a><a role="button" href="tel:5555551212" class="gap-bottom gap-right">Telephone</a><a role="button" href="mailto:user@gmail.com" class="gap-bottom gap-right">Gmail</a><a role="button" href="skype:skypeusername" class="gap-bottom gap-right">Skype</a><a role="button" href="example.rss" class="gap-bottom gap-right">RSS</a><a role="button" href="http://twitter.com" class="gap-bottom gap-right">Twitter</a><a role="button" href="http://facebook.com" class="gap-bottom gap-right">Facebook</a><a role="button" href="http://tumblr.com" class="gap-bottom gap-right">Tumblr</a><a role="button" href="http://linkedin.com" class="gap-bottom gap-right">LinkedIn</a><a role="button" href="http://plus.google.com" class="gap-bottom gap-right">Google Plus</a><a role="button" href="http://youtube.com" class="gap-bottom gap-right">Youtube</a><a role="button" href="http://github.com" class="gap-bottom gap-right">Github</a><a role="button" href="http://stackoverflow.com" class="gap-bottom gap-right">Stack Overflow</a><a role="button" href="http://instagram.com" class="gap-bottom gap-right">Instagram</a><a role="button" href="http://flickr.com" class="gap-bottom gap-right">Flickr</a><a role="button" href="http://foursquare.com" class="gap-bottom gap-right">Foursquare</a><a role="button" href="http://dribbble.com" class="gap-bottom gap-right">Dribbble</a><a role="button" href="http://dropbox.com" class="gap-bottom gap-right">Dropbox</a><a role="button" href="http://trello.com" class="gap-bottom gap-right">Trello</a></div>
            </div>
          </div>
          <hr><br>
          <h4>Button Groups</h4>
          <div class="row">
            <div class="one half padded">
              <ul class="button-group">
                <li>
                  <button>Normal</button>
                </li>
                <li>
                  <button disabled="disabled" aria-disabled="true">Disabled</button>
                </li>
                <li>
                  <button aria-selected="true">Active</button>
                </li>
              </ul>
            </div>
            <div class="one half padded">
              <ul class="button-group">
                <li>
                  <button class="blue">Normal</button>
                </li>
                <li>
                  <button disabled="disabled" aria-disabled="true" class="turquoise">Disabled</button>
                </li>
                <li>
                  <button aria-selected="true" class="green">Active</button>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="one half padded">
              <ul class="button-group">
                <li>
                  <button><i class="icon-github-alt"></i></button>
                </li>
                <li>
                  <button><i class="icon-twitter"></i></button>
                </li>
                <li>
                  <button><i class="icon-linkedin-sign"></i></button>
                </li>
                <li>
                  <button><i class="icon-google-plus"></i></button>
                </li>
                <li>
                  <button><i class="icon-facebook-sign"></i></button>
                </li>
                <li>
                  <button><i class="icon-pinterest"></i></button>
                </li>
              </ul>
            </div>
            <div class="one half padded">
              <ul class="button-group">
                <li>
                  <button class="yellow"><i class="icon-github-alt"></i></button>
                </li>
                <li>
                  <button class="orange"><i class="icon-twitter"></i></button>
                </li>
                <li>
                  <button class="red"><i class="icon-linkedin-sign"></i></button>
                </li>
                <li>
                  <button class="pink"><i class="icon-google-plus"></i></button>
                </li>
                <li>
                  <button class="purple"><i class="icon-facebook-sign"></i></button>
                </li>
                <li>
                  <button class="asphalt"><i class="icon-pinterest"></i></button>
                </li>
              </ul>
            </div>
          </div>
          <hr><br>
          <h4>Button Dropdown Menus</h4>
          <div class="row">
            <div class="one half padded">
              <div class="dropdown">
                <button>Dropdown Menu Button</button>
                <ul>
                  <li>
                    <button><i class="icon-home"></i> Example Menu Item 1</button>
                  </li>
                  <li>
                    <button><i class="icon-envelope-alt"></i> Example Menu Item 2</button>
                  </li>
                  <li>
                    <hr>
                  </li>
                  <li>
                    <button><i class="icon-heart"></i> Seperated Menu Item</button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="one half padded">
              <div class="dropdown large">
                <button>Large Dropdown Button</button>
                <ul>
                  <li>
                    <button><i class="icon-home"></i> Example Menu Item 1</button>
                  </li>
                  <li>
                    <button><i class="icon-envelope-alt"></i> Example Menu Item 2</button>
                  </li>
                  <li>
                    <hr>
                  </li>
                  <li>
                    <button><i class="icon-heart"></i> Seperated Menu Item</button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="one half padded">
                <div class="dropdown">
                  <button class="blue">Dropdown Menu Button</button>
                  <ul>
                    <li>
                      <button><i class="icon-home"></i> Example Menu Item 1</button>
                    </li>
                    <li>
                      <button><i class="icon-envelope-alt"></i> Example Menu Item 2</button>
                    </li>
                    <li>
                      <hr>
                    </li>
                    <li>
                      <button><i class="icon-heart"></i> Seperated Menu Item</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr><br>
      <div class="row">
        <div class="one whole padded">
          <h4>Example Usage</h4>
          <div class="row">
            <div class="one half">
              <div class="row">
                <div class="one third small-tablet pad-top pad-left pad-right align-center">
                  <div class="pad-top">
                    <button>Normal Button</button>
                  </div>
                </div>
                <div class="two thirds small-tablet padded">
                  <pre data-lang="html">&lt;button&gt;Normal Button&lt;/button&gt;</pre>
                </div>
              </div>
            </div>
            <div class="one half">
              <div class="row">
                <div class="one third small-tablet pad-top pad-left pad-right align-center">
                  <div class="pad-top">
                    <input type="button" value="Input Button">
                  </div>
                </div>
                <div class="two thirds small-tablet padded">
                  <pre data-lang="html">&lt;input type=&quot;button&quot; value=&quot;Input Button&quot; /&gt;</pre>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="one half">
              <div class="row">
                <div class="one third small-tablet pad-top pad-left pad-right align-center">
                  <div class="pad-top"><a role="button" href="#" class="gap-bottom gap-right">ARIA Role Button</a></div>
                </div>
                <div class="two thirds small-tablet padded">
                  <pre data-lang="html">&lt;a role=&quot;button&quot; href=&quot;#&quot;&gt;ARIA Role Button&lt;/button&gt;</pre>
                </div>
              </div>
            </div>
            <div class="one half">
              <div class="row">
                <div class="one third small-tablet pad-top pad-left pad-right align-center">
                  <div class="pad-top"><a href="#" class="blue button">Blue Button</a></div>
                </div>
                <div class="two thirds small-tablet padded">
                  <pre data-lang="html">&lt;a class=&quot;blue button&quot; href=&quot;#&quot;&gt;Blue Button&lt;/a&gt;</pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
