      <div class="padded">
        <div class="row">
          <div class="three fifths bounceInRight animated">
            <h1 class="zero museo-slab">Grid System</h1>
            <p class="quicksand">A responsive and adaptive fractional grid system created by <a href="http://twitter.com/ghepting" target="_blank">Gary Hepting</a></p>
          </div>
          <div class="two fifths align-right-ipad align-right-desktop flipInX animated">
            <p class="quicksand">Component Usage Example 1 of 14</p>
            <p><a href="layout_c.html" rel="prev" class="blue button">Back</a> <a href="helpers.html" rel="next" class="green button">Next: Helpers</a></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="one whole padded">
          <div class="bounceInLeft animated">
            <h4 class="zero">Grid Breakpoint Helpers</h4>
            <p class="small">By default, grid columns collapse into rows at the <code class="inline">$small-tablet</code> breakpoint. The grid breakpoint helpers allow you to target the breakpoint that the grid structure should persist through.</p>
            <div class="row">
              <div class="one fifth">
                <p>Desktop Grid (default)</p>
              </div>
              <div class="four fifths">
                <div class="demo">
                  <div class="row">
                    <div class="one half">1/2</div>
                    <div class="one half">1/2</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one half&quot;&gt;1/2&lt;/div&gt;
  &lt;div class=&quot;one half&quot;&gt;1/2&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth">
                <p>Small-Tablet Grid</p>
              </div>
              <div class="four fifths">
                <div class="demo">
                  <div class="row">
                    <div class="one half small-tablet">1/2</div>
                    <div class="one half small-tablet">1/2</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one half small-tablet&quot;&gt;1/2&lt;/div&gt;
  &lt;div class=&quot;one half small-tablet&quot;&gt;1/2&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth">
                <p>Mobile Grid</p>
              </div>
              <div class="four fifths">
                <div class="demo">
                  <div class="row">
                    <div class="one half mobile">1/2</div>
                    <div class="one half mobile">1/2</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one half mobile&quot;&gt;1/2&lt;/div&gt;
  &lt;div class=&quot;one half mobile&quot;&gt;1/2&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div>
          </div><br>
          <hr><br>
          <div class="bounceInRight animated">
            <h4>Grid Adapters</h4>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>iPad Adapters</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one fourth two-up-ipad">1/4 to 2-up</div>
                    <div class="one fourth two-up-ipad">1/4 to 2-up</div>
                    <div class="one fourth two-up-ipad">1/4 to 2-up</div>
                    <div class="one fourth two-up-ipad">1/4 to 2-up</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one fourth two-up-ipad&quot;&gt;1/4 to 2-up&lt;/div&gt;
  &lt;div class=&quot;one fourth two-up-ipad&quot;&gt;1/4 to 2-up&lt;/div&gt;
  &lt;div class=&quot;one fourth two-up-ipad&quot;&gt;1/4 to 2-up&lt;/div&gt;
  &lt;div class=&quot;one fourth two-up-ipad&quot;&gt;1/4 to 2-up&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Small-Tablet Adapters</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one fourth two-up-small-tablet">1/4 to 2-up</div>
                    <div class="one fourth two-up-small-tablet">1/4 to 2-up</div>
                    <div class="one fourth two-up-small-tablet">1/4 to 2-up</div>
                    <div class="one fourth two-up-small-tablet">1/4 to 2-up</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one fourth two-up-small-tablet&quot;&gt;1/4 to 2-up&lt;/div&gt;
  &lt;div class=&quot;one fourth two-up-small-tablet&quot;&gt;1/4 to 2-up&lt;/div&gt;
  &lt;div class=&quot;one fourth two-up-small-tablet&quot;&gt;1/4 to 2-up&lt;/div&gt;
  &lt;div class=&quot;one fourth two-up-small-tablet&quot;&gt;1/4 to 2-up&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Mobile Adapters</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one fourth small-tablet two-up-mobile">1/4 to 2-up</div>
                    <div class="one fourth small-tablet two-up-mobile">1/4 to 2-up</div>
                    <div class="one fourth small-tablet two-up-mobile">1/4 to 2-up</div>
                    <div class="one fourth small-tablet two-up-mobile">1/4 to 2-up</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one fourth small-tablet two-up-mobile&quot;&gt;1/4 to 2-up&lt;/div&gt;
  &lt;div class=&quot;one fourth small-tablet two-up-mobile&quot;&gt;1/4 to 2-up&lt;/div&gt;
  &lt;div class=&quot;one fourth small-tablet two-up-mobile&quot;&gt;1/4 to 2-up&lt;/div&gt;
  &lt;div class=&quot;one fourth small-tablet two-up-mobile&quot;&gt;1/4 to 2-up&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Combined Adapters</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one sixth three-up-small-tablet two-up-mobile">1/6 to 3-up to 2-up</div>
                    <div class="one sixth three-up-small-tablet two-up-mobile">1/6 to 3-up to 2-up</div>
                    <div class="one sixth three-up-small-tablet two-up-mobile">1/6 to 3-up to 2-up</div>
                    <div class="one sixth three-up-small-tablet two-up-mobile">1/6 to 3-up to 2-up</div>
                    <div class="one sixth three-up-small-tablet two-up-mobile">1/6 to 3-up to 2-up</div>
                    <div class="one sixth three-up-small-tablet two-up-mobile">1/6 to 3-up to 2-up</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one sixth three-up-small-tablet two-up-mobile&quot;&gt;1/6 to 3-up to 2-up&lt;/div&gt;
  &lt;div class=&quot;one sixth three-up-small-tablet two-up-mobile&quot;&gt;1/6 to 3-up to 2-up&lt;/div&gt;
  &lt;div class=&quot;one sixth three-up-small-tablet two-up-mobile&quot;&gt;1/6 to 3-up to 2-up&lt;/div&gt;
  &lt;div class=&quot;one sixth three-up-small-tablet two-up-mobile&quot;&gt;1/6 to 3-up to 2-up&lt;/div&gt;
  &lt;div class=&quot;one sixth three-up-small-tablet two-up-mobile&quot;&gt;1/6 to 3-up to 2-up&lt;/div&gt;
  &lt;div class=&quot;one sixth three-up-small-tablet two-up-mobile&quot;&gt;1/6 to 3-up to 2-up&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div>
          </div><br>
          <hr><br>
          <div class="bounceInLeft animated">
            <h4>Grid Fractions</h4>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Halves</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one half">1/2</div>
                    <div class="one half">1/2</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one half&quot;&gt;1/2&lt;/div&gt;
  &lt;div class=&quot;one half&quot;&gt;1/2&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Thirds</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one third">1/3</div>
                    <div class="two thirds">2/3</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one third&quot;&gt;1/3&lt;/div&gt;
  &lt;div class=&quot;two thirds&quot;&gt;2/3&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Fourths</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one fourth">1/4</div>
                    <div class="three fourths">3/4</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one fourth&quot;&gt;1/4&lt;/div&gt;
  &lt;div class=&quot;three fourths&quot;&gt;3/4&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Fifths</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one fifth">1/5</div>
                    <div class="three fifths">3/5</div>
                    <div class="one fifth">1/5</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one fifth&quot;&gt;1/5&lt;/div&gt;
  &lt;div class=&quot;three fifths&quot;&gt;3/5&lt;/div&gt;
  &lt;div class=&quot;one fifth&quot;&gt;1/5&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Sixths</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one sixth">1/6</div>
                    <div class="two sixths">2/6</div>
                    <div class="three sixths">3/6</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one sixth&quot;&gt;1/6&lt;/div&gt;
  &lt;div class=&quot;two sixths&quot;&gt;2/6&lt;/div&gt;
  &lt;div class=&quot;three sixths&quot;&gt;3/6&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Sevenths</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one seventh">1/7</div>
                    <div class="two sevenths">2/7</div>
                    <div class="four sevenths">4/7</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one seventh&quot;&gt;1/7&lt;/div&gt;
  &lt;div class=&quot;two sevenths&quot;&gt;2/7&lt;/div&gt;
  &lt;div class=&quot;four sevenths&quot;&gt;4/7&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Eighths</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one eighth">1/8</div>
                    <div class="two eighths">2/8</div>
                    <div class="five eighths">5/8</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one eighth&quot;&gt;1/8&lt;/div&gt;
  &lt;div class=&quot;two eighths&quot;&gt;2/8&lt;/div&gt;
  &lt;div class=&quot;five eighths&quot;&gt;5/8&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Ninths</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one ninth">1/9</div>
                    <div class="three ninths">3/9</div>
                    <div class="five ninths">5/9</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one ninth&quot;&gt;1/9&lt;/div&gt;
  &lt;div class=&quot;three ninths&quot;&gt;3/9&lt;/div&gt;
  &lt;div class=&quot;five ninths&quot;&gt;5/9&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Tenths</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one tenth">1/10</div>
                    <div class="three tenths">3/10</div>
                    <div class="five tenths">5/10</div>
                    <div class="one tenth">1/10</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one tenth&quot;&gt;1/10&lt;/div&gt;
  &lt;div class=&quot;three tenths&quot;&gt;3/10&lt;/div&gt;
  &lt;div class=&quot;five tenths&quot;&gt;5/10&lt;/div&gt;
  &lt;div class=&quot;one tenth&quot;&gt;1/10&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Elevenths</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one eleventh">1/11</div>
                    <div class="three elevenths">3/11</div>
                    <div class="five elevenths">5/11</div>
                    <div class="two elevenths">2/11</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one eleventh&quot;&gt;1/11&lt;/div&gt;
  &lt;div class=&quot;three elevenths&quot;&gt;3/11&lt;/div&gt;
  &lt;div class=&quot;five elevenths&quot;&gt;5/11&lt;/div&gt;
  &lt;div class=&quot;two elevenths&quot;&gt;2/11&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div><br>
            <div class="row">
              <div class="one fifth small-tablet">
                <p>Twelfths</p>
              </div>
              <div class="four fifths small-tablet">
                <div class="demo">
                  <div class="row">
                    <div class="one twelfth">1/12</div>
                    <div class="three twelfths">3/12</div>
                    <div class="five twelfths">5/12</div>
                    <div class="two twelfths">2/12</div>
                    <div class="one twelfth">1/12</div>
                  </div>
                </div>
                <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one twelfth&quot;&gt;1/12&lt;/div&gt;
  &lt;div class=&quot;three twelfths&quot;&gt;3/12&lt;/div&gt;
  &lt;div class=&quot;five twelfths&quot;&gt;5/12&lt;/div&gt;
  &lt;div class=&quot;two twelfths&quot;&gt;2/12&lt;/div&gt;
  &lt;div class=&quot;one twelfth&quot;&gt;1/12&lt;/div&gt;
&lt;/div&gt;</pre>
              </div>
            </div>
          </div><br>
          <hr><br>
          <div class="bounceInRight animated">
            <h4 class="zero">Column Shuffling/Source Reordering</h4>
            <p>(Adapting column ordering without changing source order)</p>
            <div class="demo reordering">
              <div class="row">
                <div class="one fifth right-four">1/5 (first)</div>
                <div class="four fifths left-one">4/5 (last)</div>
              </div>
              <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one fifth right-four&quot;&gt;1/5 (first)&lt;/div&gt;
  &lt;div class=&quot;four fifths left-one&quot;&gt;4/5 (last)&lt;/div&gt;
&lt;/div&gt;</pre><br>
              <div class="row">
                <div class="two thirds right-one">2/3 (first)</div>
                <div class="one third left-two">1/3 (last)</div>
              </div>
              <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;two thirds right-one&quot;&gt;2/3 (first)&lt;/div&gt;
  &lt;div class=&quot;one third left-two&quot;&gt;1/3 (last)&lt;/div&gt;
&lt;/div&gt;</pre><br>
              <div class="row">
                <div class="one fourth right-two">1/4 (first)</div>
                <div class="one fourth left-one">1/4 (second)</div>
                <div class="one fourth right-one">1/4 (third)</div>
                <div class="one fourth left-two">1/4 (fourth)</div>
              </div>
              <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one fourth right-two&quot;&gt;1/4 (first)&lt;/div&gt;
  &lt;div class=&quot;one fourth left-one&quot;&gt;1/4 (second)&lt;/div&gt;
  &lt;div class=&quot;one fourth right-one&quot;&gt;1/4 (third)&lt;/div&gt;
  &lt;div class=&quot;one fourth left-two&quot;&gt;1/4 (fourth)&lt;/div&gt;
&lt;/div&gt;</pre><br>
              <div class="row">
                <div class="three eighths right-five">3/8 (first)</div>
                <div class="two eighths left-three">2/8 (second)</div>
                <div class="three eighths left-three">3/8 (third)</div>
              </div>
              <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;three eighths right-five&quot;&gt;3/8 (first)&lt;/div&gt;
  &lt;div class=&quot;two eighths left-three&quot;&gt;2/8 (second)&lt;/div&gt;
  &lt;div class=&quot;three eighths left-three&quot;&gt;3/8 (third)&lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
          </div><br>
          <hr><br>
          <div class="bounceInLeft animated">
            <h4>Centering</h4>
            <div class="demo centering">
              <div class="row">
                <div class="one centered mobile seventh">1/7</div>
              </div><br>
              <div class="row">
                <div class="one centered mobile fifth">1/5</div>
              </div><br>
              <div class="row">
                <div class="one centered mobile third">1/3</div>
              </div>
              <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one centered mobile seventh&quot;&gt;1/7&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one centered mobile fifth&quot;&gt;1/5&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one centered mobile third&quot;&gt;1/3&lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
          </div><br>
          <hr><br>
          <div class="bounceInRight animated">
            <h4>Offsetting</h4>
            <div class="offsetting demo">
              <div class="row">
                <div class="eleven mobile twelfths skip-one">11</div>
              </div><br>
              <div class="row">
                <div class="ten mobile twelfths skip-two">10</div>
              </div><br>
              <div class="row">
                <div class="nine mobile twelfths skip-three">9</div>
              </div><br>
              <div class="row">
                <div class="eight mobile twelfths skip-four">8</div>
              </div><br>
              <div class="row">
                <div class="seven mobile twelfths skip-five">7</div>
              </div><br>
              <div class="row">
                <div class="six mobile twelfths skip-six">6</div>
              </div><br>
              <div class="row">
                <div class="one mobile twelfth">1</div>
                <div class="five mobile twelfths skip-six">5</div>
              </div><br>
              <div class="row">
                <div class="two mobile twelfths">2</div>
                <div class="four mobile twelfths skip-six">4</div>
              </div><br>
              <div class="row">
                <div class="three mobile twelfths">3</div>
                <div class="three mobile twelfths skip-six">3</div>
              </div><br>
              <div class="row">
                <div class="four mobile twelfths">4</div>
                <div class="two mobile twelfths skip-six">2</div>
              </div><br>
              <div class="row">
                <div class="five mobile twelfths">5</div>
                <div class="one mobile twelfth skip-six">1</div>
              </div><br>
              <div class="row">
                <div class="four mobile fifths skip-one">4/5</div>
              </div><br>
              <div class="row">
                <div class="eight mobile elevenths skip-three">8/11</div>
              </div><br>
              <div class="row">
                <div class="five mobile sevenths skip-two">5/7</div>
              </div>
              <pre data-lang="html">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;eleven mobile twelfths skip-one&quot;&gt;11&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;ten mobile twelfths skip-two&quot;&gt;10&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;nine mobile twelfths skip-three&quot;&gt;9&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;eight mobile twelfths skip-four&quot;&gt;8&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;seven mobile twelfths skip-five&quot;&gt;7&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;six mobile twelfths skip-six&quot;&gt;6&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;one mobile twelfth&quot;&gt;1&lt;/div&gt;
  &lt;div class=&quot;five mobile twelfths skip-six&quot;&gt;5&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;two mobile twelfths&quot;&gt;2&lt;/div&gt;
  &lt;div class=&quot;four mobile twelfths skip-six&quot;&gt;4&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;three mobile twelfths&quot;&gt;3&lt;/div&gt;
  &lt;div class=&quot;three mobile twelfths skip-six&quot;&gt;3&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;four mobile twelfths&quot;&gt;4&lt;/div&gt;
  &lt;div class=&quot;two mobile twelfths skip-six&quot;&gt;2&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;five mobile twelfths&quot;&gt;5&lt;/div&gt;
  &lt;div class=&quot;one mobile twelfth skip-six&quot;&gt;1&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;four mobile fifths skip-one&quot;&gt;4/5&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;eight mobile elevenths skip-three&quot;&gt;8/11&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;five mobile sevenths skip-two&quot;&gt;5/7&lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
          </div><br>
          <hr><br>
          <div class="bounceInUp animated">
            <h4>Equal Columns</h4>
            <div class="demo equal-columns">
              <div class="equalize row">
                <div class="one third padded">
                  <h1>First Column</h1>
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div>
                <div class="one third padded">
                  <h1>Second Column</h1>
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                </div>
                <div class="one third padded">
                  <h1>Third Column</h1>
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
              </div>
            </div>
            <pre data-lang="html">&lt;div class=&quot;equalize row&quot;&gt;
  &lt;div class=&quot;one third padded&quot;&gt;
    &lt;h1&gt;First Column&lt;/h1&gt;
    &lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;one third padded&quot;&gt;
    &lt;h1&gt;Second Column&lt;/h1&gt;
    &lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;one third padded&quot;&gt;
    &lt;h1&gt;Third Column&lt;/h1&gt;
    &lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
          </div><br>
        </div>
      </div>
