      <div class="padded">
        <div class="row">
          <div class="three fifths bounceInRight animated">
            <h1 class="zero museo-slab">Helpers</h1>
            <p class="quicksand"><a href="breakpoints.html">Breakpoint-targeted</a> layout, typographic, and conditional helpers for responsive & adaptive layouts</p>
          </div>
          <div class="two fifths align-right-ipad align-right-desktop flipInX animated">
            <p class="quicksand">Component Usage Example 2 of 14</p>
            <p><a href="grid.html" rel="prev" class="blue button">Back</a> <a href="typography.html" rel="next" class="green button">Next: Typography</a></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="one whole padded bounceInLeft animated">
          <h4 class="zero">Conditional Display Helpers</h4>
          <p class="small">Conditionally show and hide elements at <a href="breakpoints.html">targeted breakpoints</a></p>
          <div class="row">
            <div class="one half small-tablet padded">
              <h4>Demonstration</h4>
              <ol class="list large">
                <li class="green desktop-only">desktop-only</li>
                <li class="blue hide-on-desktop">hide-on-desktop</li>
                <li class="green ipad-only">ipad-only</li>
                <li class="blue hide-on-ipad">hide-on-ipad</li>
                <li class="green small-tablet-only">small-tablet-only</li>
                <li class="blue hide-on-small-tablet">hide-on-small-tablet</li>
                <li class="green mobile-only">mobile-only</li>
                <li class="blue hide-on-mobile">hide-on-mobile</li>
              </ol>
            </div>
            <div class="one half small-tablet padded">
              <h4 class="double gap-top-mobile">Conditional Display Classes</h4>
              <ol class="list">
                <li><code class="inline">.desktop-only</code></li>
                <li><code class="inline">.hide-on-desktop</code></li>
                <li><code class="inline">.ipad-only</code></li>
                <li><code class="inline">.hide-on-ipad</code></li>
                <li><code class="inline">.small-tablet-only</code></li>
                <li><code class="inline">.hide-on-small-tablet</code></li>
                <li><code class="inline">.mobile-only</code></li>
                <li><code class="inline">.hide-on-mobile</code></li>
              </ol>
            </div>
          </div>
        </div>
      </div><br>
      <hr><br>
      <div class="row">
        <div class="one whole padded bounceInRight animated">
          <h4 class="zero">Spacing Helpers</h4>
          <p class="small">
             
            With breakpoint-targeted conditional classes and overrides. (i.e. - <code class="inline">.no-pad-mobile</code>,  <code class="inline">.no-gap-desktop</code>,  <code class="inline">.double.gap-top-mobile</code>,  <code class="inline">.padded-small-tablet</code>,  <code class="inline">.padded-mobile</code>, etc.)
          </p>
          <div class="row">
            <div class="one third small-tablet padded">
              <h4>Padded</h4>
              <div class="demo">
                <div class="row">
                  <div class="padded">.padded</div>
                  <div class="pad-top">.pad-top</div>
                  <div class="pad-right">.pad-right</div>
                  <div class="pad-bottom">.pad-bottom</div>
                  <div class="pad-left">.pad-left</div>
                </div>
              </div>
            </div>
            <div class="one third small-tablet padded">
              <h4>Double</h4>
              <div class="demo">
                <div class="row">
                  <div class="double padded">.double.padded</div>
                  <div class="double pad-top">.double.pad-top</div>
                  <div class="double pad-right">.double.pad-right</div>
                  <div class="double pad-bottom">.double.pad-bottom</div>
                  <div class="double pad-left">.double.pad-left</div>
                </div>
              </div>
            </div>
            <div class="one third small-tablet padded">
              <h4>Triple</h4>
              <div class="demo">
                <div class="row">
                  <div class="triple padded">.triple.padded</div>
                  <div class="triple pad-top">.triple.pad-top</div>
                  <div class="triple pad-right">.triple.pad-right</div>
                  <div class="triple pad-bottom">.triple.pad-bottom</div>
                  <div class="triple pad-left">.triple.pad-left</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="one third small-tablet padded">
              <h4>Gapped</h4>
              <div class="demo">
                <div class="row">
                  <div class="gapped">.gapped</div>
                  <div class="gap-top">.gap-top</div>
                  <div class="gap-right">.gap-right</div>
                  <div class="gap-bottom">.gap-bottom</div>
                  <div class="gap-left">.gap-left</div>
                </div>
              </div>
            </div>
            <div class="one third small-tablet padded">
              <h4>Double</h4>
              <div class="demo">
                <div class="row">
                  <div class="double gapped">.double.gapped</div>
                  <div class="double gap-top">.double.gap-top</div>
                  <div class="double gap-right">.double.gap-right</div>
                  <div class="double gap-bottom">.double.gap-bottom</div>
                  <div class="double gap-left">.double.gap-left</div>
                </div>
              </div>
            </div>
            <div class="one third small-tablet padded">
              <h4>Triple</h4>
              <div class="demo">
                <div class="row">
                  <div class="triple gapped">.triple.gapped</div>
                  <div class="triple gap-top">.triple.gap-top</div>
                  <div class="triple gap-right">.triple.gap-right</div>
                  <div class="triple gap-bottom">.triple.gap-bottom</div>
                  <div class="triple gap-left">.triple.gap-left</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <hr><br>
      <div class="row">
        <div class="one whole padded bounceInLeft animated">
          <h4 class="zero">Layout</h4>
          <p class="small">
             
            With breakpoint-targeted conditional classes and overrides. (i.e. - <code class="inline">.block-desktop</code>, <code class="inline">.no-border-small-tablet</code>, <code class="inline">.pull-right-small-tablet</code>, <code class="inline">.center-ipad</code>
          </p>
          <div class="row">
            <div class="one third small-tablet padded">
              <h4>Display</h4>
              <div class="demo">
                <div class="row">
                  <div class="inline">.inline</div>
                  <div class="inline-block">.inline-block</div>
                  <div class="block">.block</div>
                  <div class="hidden">.hidden</div>
                </div>
              </div><br>
              <h4>Border Radius</h4>
              <div class="demo">
                <div class="row">
                  <div>
                    <button class="square">.square</button>
                  </div>
                  <div>
                    <button class="round">.round</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="one third small-tablet padded">
              <h4>Floating</h4>
              <div class="demo">
                <div class="row">
                  <div class="pull-none">.pull-none</div>
                  <div class="pull-right">.pull-right</div>
                  <div class="pull-left">.pull-left</div>
                </div>
              </div><br>
              <h4>Centering</h4>
              <div class="demo">
                <div class="row">
                  <div>
                    <button class="center">.center</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="one third small-tablet padded">
              <h4>Borders</h4>
              <div class="demo">
                <div class="bordered">.bordered</div><br>
                <div class="border-top">.border-top</div><br>
                <div class="border-right">.border-right</div><br>
                <div class="border-bottom">.border-bottom</div><br>
                <div class="border-left">.border-left</div>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <hr><br>
      <div class="row">
        <div class="one whole padded bounceInRight animated">
          <h4>Typographic</h4>
          <div class="row">
            <div class="one third small-tablet padded">
              <h4>Font Sizing</h4>
              <p class="zero">.small</p>
              <div class="demo">
                <div class="row">
                  <div class="small">The quick brown fox jumped over the lazy dog. Oh, how that fox jumped, quick and brown, while the dog never reacted because he was so very lazy.</div>
                </div>
              </div><br>
              <p class="zero">.medium</p>
              <div class="demo">
                <div class="row">
                  <div class="medium">The quick brown fox jumped over the lazy dog. Oh, how that fox jumped, quick and brown, while the dog never reacted because he was so very lazy.</div>
                </div>
              </div><br>
              <p class="zero">.large</p>
              <div class="demo">
                <div class="row">
                  <div class="large">The quick brown fox jumped over the lazy dog. Oh, how that fox jumped, quick and brown, while the dog never reacted because he was so very lazy.</div>
                </div>
              </div>
            </div>
            <div class="one third small-tablet padded">
              <h4>Text Alignment</h4>
              <p class="zero">.align-left</p>
              <div class="demo">
                <div class="row">
                  <div class="align-left">The quick brown fox jumped over the lazy dog. Oh, how that fox jumped, quick and brown, while the dog never reacted because he was so very lazy.</div>
                </div>
              </div><br>
              <p class="zero">.align-center</p>
              <div class="demo">
                <div class="row">
                  <div class="align-center">The quick brown fox jumped over the lazy dog. Oh, how that fox jumped, quick and brown, while the dog never reacted because he was so very lazy.</div>
                </div>
              </div><br>
              <p class="zero">.align-right</p>
              <div class="demo">
                <div class="row">
                  <div class="align-right">The quick brown fox jumped over the lazy dog. Oh, how that fox jumped, quick and brown, while the dog never reacted because he was so very lazy.</div>
                </div>
              </div><br>
              <p class="zero">.justify</p>
              <div class="demo">
                <div class="row">
                  <div class="justify">The quick brown fox jumped over the lazy dog. Oh, how that fox jumped, quick and brown, while the dog never reacted because he was so very lazy.</div>
                </div>
              </div>
            </div>
            <div class="one third small-tablet padded">
              <h4>Text Helpers</h4>
              <p class="zero">.truncate </p>
              <p class="zero small">(single-line, pure CSS)</p>
              <div class="demo">
                <div class="row">
                  <div class="truncate">The quick brown fox jumped over the lazy dog. Oh, how that fox jumped, quick and brown, while the dog never reacted because he was so very lazy.</div>
                </div>
              </div><br>
              <p class="zero">data-truncate='2' </p>
              <p class="zero small">(multi-line, powered by truncateLines plugin)</p>
              <div class="demo">
                <div class="row">
                  <div data-truncate="2">The quick brown fox jumped over the lazy dog. Oh, how that fox jumped, quick and brown, while the dog never reacted because he was so very lazy.</div>
                </div>
              </div><br>
              <p class="zero">.responsive </p>
              <p class="zero small">(single-line, powered by responsiveText plugin)</p>
              <div class="demo">
                <div class="row">
                  <div data-compression="20.65" class="responsive">The quick brown fox jumped over the lazy dog.</div>
                </div>
              </div>
              <p class="gap-top small">Note: <code class="inline">data-compression='20.65'</code> applied to increase compression</p><br>
              <p class="zero">.responsive </p>
              <p class="zero small">(scrollable single-line, powered by responsiveText plugin)</p>
              <div class="demo">
                <div class="row">
                  <div data-scrollable="true" class="responsive">The quick brown fox jumped over the lazy dog.</div>
                </div>
              </div>
              <p class="gap-top small">Note: <code class="inline">data-scrollable='true'</code> applied to enable scrolling on hover</p>
            </div>
          </div>
        </div>
      </div><br>
      <hr><br>
      <div class="row">
        <div class="one whole padded bounceInUp animated">
          <h4>Rotation</h4>
          <div class="row">
            <div class="one fourth small-tablet two-up-mobile double padded align-center">
              <div class="rotate-90"><i class="icon-4x icon-power-off"></i></div>
              <p>.rotate-90 </p>
            </div>
            <div class="one fourth small-tablet two-up-mobile double padded align-center">
              <div class="rotate-180"><i class="icon-4x icon-power-off"></i></div>
              <p>.rotate-180 </p>
            </div>
            <div class="one fourth small-tablet two-up-mobile double padded align-center">
              <div class="rotate-270"><i class="icon-4x icon-power-off"></i></div>
              <p>.rotate-270 </p>
            </div>
            <div class="one fourth small-tablet two-up-mobile double padded align-center">
              <div class="rotate-360"><i class="icon-4x icon-power-off"></i></div>
              <p>.rotate-360</p>
            </div>
          </div>
          <div class="row">
            <div class="one fourth small-tablet two-up-mobile double padded align-center">
              <div class="rotate-90-ctr"><i class="icon-4x icon-power-off"></i></div>
              <p>.rotate-90-ctr  </p>
            </div>
            <div class="one fourth small-tablet two-up-mobile double padded align-center">
              <div class="rotate-180-ctr"><i class="icon-4x icon-power-off"></i></div>
              <p>.rotate-180-ctr </p>
            </div>
            <div class="one fourth small-tablet two-up-mobile double padded align-center">
              <div class="rotate-270-ctr"><i class="icon-4x icon-power-off"></i></div>
              <p>.rotate-270-ctr </p>
            </div>
            <div class="one fourth small-tablet two-up-mobile double padded align-center">
              <div class="rotate-360-ctr"><i class="icon-4x icon-power-off"></i></div>
              <p>.rotate-360-ctr </p>
            </div>
          </div>
        </div>
      </div>
