      <div class="padded">
        <div class="row">
          <div class="three fifths bounceInRight animated">
            <h1 class="zero museo-slab">Ecommerce Example Layout</h1>
            <p class="quicksand">Demonstrates Responsive Text, Truncated Lines, Icons, Vertical (To Menu) Navigation, Grid Breakpoint Modifiers and Adapters</p>
          </div>
          <div class="two fifths align-right-ipad align-right-desktop flipInX animated">
            <p class="quicksand">Example Layout 3 of 3</p>
            <p><a href="layout_b.html" rel="prev" class="blue button">Back</a> <a href="grid.html" rel="next" class="green button">Next: Grid System</a></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="align-right padded"><a href="#" class="gap-right">My Account <i class="icon-user"></i></a><a href="#" class="gap-right">View Cart <i class="icon-shopping-cart"></i></a><a href="#">Sign Out <i class="icon-signout"></i></a></div>
      <div class="row">
        <aside class="one fifth padded bounceInLeft animated">
          <nav data-label="Shop by Category" class="nav vertical menu">
            <ul style="display:block;">
              <li class="one whole"><a>Nav item #1</a></li>
              <li class="one whole"><a>Nav item #2</a></li>
              <li class="one whole"><a>Nav item #3</a></li>
              <li class="one whole"><a>Nav item #4</a></li>
              <li class="one whole"><a>Nav item #5</a></li>
            </ul>
          </nav>
        </aside>
        <article class="four fifths">
          <div class="row">
            <div class="one fourth three-up-small-tablet two-up-mobile padded bounceInDown animated">
              <div class="box">
                <h4 data-compression="7" data-max="20" class="responsive align-center zero">Product 1</h4><img src="http://placehold.it/300x300/2ecc71/ffffff/&amp;text=Product+1">
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>$8.00 USD<i class="icon-shopping-cart pull-right large"></i></p>
              </div>
            </div>
            <div class="one fourth three-up-small-tablet two-up-mobile padded bounceInUp animated">
              <div class="box">
                <h4 data-compression="7" data-max="20" class="responsive align-center zero">Product 2</h4><img src="http://placehold.it/300x300/3498db/ffffff/&amp;text=Product+2">
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>$8.00 USD<i class="icon-shopping-cart pull-right large"></i></p>
              </div>
            </div>
            <div class="one fourth three-up-small-tablet two-up-mobile padded rotateInDownRight animated">
              <div class="box">
                <h4 data-compression="7" data-max="20" class="responsive align-center zero">Product 3</h4><img src="http://placehold.it/300x300/9b59b6/ffffff/&amp;text=Product+3">
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>$8.00 USD<i class="icon-shopping-cart pull-right large"></i></p>
              </div>
            </div>
            <div class="one fourth three-up-small-tablet two-up-mobile padded bounceInRight animated">
              <div class="box">
                <h4 data-compression="7" data-max="20" class="responsive align-center zero">Product 4</h4><img src="http://placehold.it/300x300/f1c40f/ffffff/&amp;text=Product+4">
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>$8.00 USD<i class="icon-shopping-cart pull-right large"></i></p>
              </div>
            </div>
            <div class="one fourth three-up-small-tablet two-up-mobile padded bounceInDown animated">
              <div class="box">
                <h4 data-compression="7" data-max="20" class="responsive align-center zero">Product 5</h4><img src="http://placehold.it/300x300/e67e22/ffffff/&amp;text=Product+5">
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>$8.00 USD<i class="icon-shopping-cart pull-right large"></i></p>
              </div>
            </div>
            <div class="one fourth three-up-small-tablet two-up-mobile padded bounceInUp animated">
              <div class="box">
                <h4 data-compression="7" data-max="20" class="responsive align-center zero">Product 6</h4><img src="http://placehold.it/300x300/e74c3c/ffffff/&amp;text=Product+6">
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>$8.00 USD<i class="icon-shopping-cart pull-right large"></i></p>
              </div>
            </div>
            <div class="one fourth three-up-small-tablet two-up-mobile padded rotateInDownRight animated">
              <div class="box">
                <h4 data-compression="7" data-max="20" class="responsive align-center zero">Product 7</h4><img src="http://placehold.it/300x300/f02475/ffffff/&amp;text=Product+7">
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>$8.00 USD<i class="icon-shopping-cart pull-right large"></i></p>
              </div>
            </div>
            <div class="one fourth three-up-small-tablet two-up-mobile padded bounceInRight animated">
              <div class="box">
                <h4 data-compression="7" data-max="20" class="responsive align-center zero">Product 8</h4><img src="http://placehold.it/300x300/1abc9c/ffffff/&amp;text=Product+8">
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>$8.00 USD<i class="icon-shopping-cart pull-right large"></i></p>
              </div>
            </div>
            <div class="one fourth three-up-small-tablet two-up-mobile padded bounceInDown animated">
              <div class="box">
                <h4 data-compression="7" data-max="20" class="responsive align-center zero">Product 9</h4><img src="http://placehold.it/300x300/34495e/ffffff/&amp;text=Product+9">
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>$8.00 USD<i class="icon-shopping-cart pull-right large"></i></p>
              </div>
            </div>
            <div class="one fourth three-up-small-tablet two-up-mobile padded bounceInUp animated">
              <div class="box">
                <h4 data-compression="7" data-max="20" class="responsive align-center zero">Product 10</h4><img src="http://placehold.it/300x300/2ecc71/ffffff/&amp;text=Product+10">
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>$8.00 USD<i class="icon-shopping-cart pull-right large"></i></p>
              </div>
            </div>
            <div class="one fourth three-up-small-tablet two-up-mobile padded rotateInDownRight animated">
              <div class="box">
                <h4 data-compression="7" data-max="20" class="responsive align-center zero">Product 11</h4><img src="http://placehold.it/300x300/3498db/ffffff/&amp;text=Product+11">
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>$8.00 USD<i class="icon-shopping-cart pull-right large"></i></p>
              </div>
            </div>
            <div class="one fourth three-up-small-tablet two-up-mobile padded bounceInRight animated">
              <div class="box">
                <h4 data-compression="7" data-max="20" class="responsive align-center zero">Product 12</h4><img src="http://placehold.it/300x300/f1c40f/ffffff/&amp;text=Product+12">
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>$8.00 USD<i class="icon-shopping-cart pull-right large"></i></p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
