      <div class="padded">
        <div class="row">
          <div class="three fifths bounceInRight animated">
            <h1 class="zero museo-slab">Image Gallery Layout Example</h1>
            <p class="quicksand">Demonstrates Grid Breakpoint Adapters</p>
          </div>
          <div class="two fifths align-right-ipad align-right-desktop flipInX animated">
            <p class="quicksand">Example Layout 2 of 3</p>
            <p><a href="layout_a.html" rel="prev" class="blue button">Back</a> <a href="layout_c.html" rel="next" class="green button">Next: Ecommerce</a></p>
          </div>
        </div>
      </div>
      <hr>
      <article class="row">
        <div class="one sixth three-up-small-tablet two-up-mobile padded bounceInLeft animated"><a href="http://placehold.it/900x500/2ecc71/ffffff/&amp;text=Image+1" title="View Larger Image" class="block green"><img src="http://placehold.it/300x300/2ecc71/ffffff/&amp;text=Image+1" alt="Image 1" class="round"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded rotateInDownLeft animated"><a href="http://placehold.it/900x500/3498db/ffffff/&amp;text=Image+2" title="View Larger Image" class="block blue"><img src="http://placehold.it/300x300/3498db/ffffff/&amp;text=Image+2" alt="Image 2"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded bounceInDown animated"><a href="http://placehold.it/900x500/9b59b6/ffffff/&amp;text=Image+3" title="View Larger Image" class="block purple"><img src="http://placehold.it/300x300/9b59b6/ffffff/&amp;text=Image+3" alt="Image 3"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded bounceInUp animated"><a href="http://placehold.it/900x500/f1c40f/ffffff/&amp;text=Image+4" title="View Larger Image" class="block yellow"><img src="http://placehold.it/300x300/f1c40f/ffffff/&amp;text=Image+4" alt="Image 4"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded rotateInUpRight animated"><a href="http://placehold.it/900x500/e67e22/ffffff/&amp;text=Image+5" title="View Larger Image" class="block orange"><img src="http://placehold.it/300x300/e67e22/ffffff/&amp;text=Image+5" alt="Image 5"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded bounceInRight animated"><a href="http://placehold.it/900x500/e74c3c/ffffff/&amp;text=Image+6" title="View Larger Image" class="block red"><img src="http://placehold.it/300x300/e74c3c/ffffff/&amp;text=Image+6" alt="Image 6"></a></div>
      </article>
      <article class="row">
        <div class="one sixth three-up-small-tablet two-up-mobile padded bounceInLeft animated"><a href="http://placehold.it/900x500/f02475/ffffff/&amp;text=Image+7" title="View Larger Image" class="block pink"><img src="http://placehold.it/300x300/f02475/ffffff/&amp;text=Image+7" alt="Image 7"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded rotateInDownLeft animated"><a href="http://placehold.it/900x500/1abc9c/ffffff/&amp;text=Image+8" title="View Larger Image" class="block turquoise"><img src="http://placehold.it/300x300/1abc9c/ffffff/&amp;text=Image+8" alt="Image 8"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded bounceInDown animated"><a href="http://placehold.it/900x500/34495e/ffffff/&amp;text=Image+9" title="View Larger Image" class="block asphalt"><img src="http://placehold.it/300x300/34495e/ffffff/&amp;text=Image+9" alt="Image 9"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded bounceInUp animated"><a href="http://placehold.it/900x500/2ecc71/ffffff/&amp;text=Image+10" title="View Larger Image" class="block green"><img src="http://placehold.it/300x300/2ecc71/ffffff/&amp;text=Image+10" alt="Image 10"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded rotateInUpRight animated"><a href="http://placehold.it/900x500/3498db/ffffff/&amp;text=Image+11" title="View Larger Image" class="block blue"><img src="http://placehold.it/300x300/3498db/ffffff/&amp;text=Image+11" alt="Image 11"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded bounceInRight animated"><a href="http://placehold.it/900x500/9b59b6/ffffff/&amp;text=Image+12" title="View Larger Image" class="block purple"><img src="http://placehold.it/300x300/9b59b6/ffffff/&amp;text=Image+12" alt="Image 12"></a></div>
      </article>
      <article class="row">
        <div class="one sixth three-up-small-tablet two-up-mobile padded bounceInLeft animated"><a href="http://placehold.it/900x500/f1c40f/ffffff/&amp;text=Image+13" title="View Larger Image" class="block yellow"><img src="http://placehold.it/300x300/f1c40f/ffffff/&amp;text=Image+13" alt="Image 13"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded rotateInDownLeft animated"><a href="http://placehold.it/900x500/e67e22/ffffff/&amp;text=Image+14" title="View Larger Image" class="block orange"><img src="http://placehold.it/300x300/e67e22/ffffff/&amp;text=Image+14" alt="Image 14"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded bounceInDown animated"><a href="http://placehold.it/900x500/e74c3c/ffffff/&amp;text=Image+15" title="View Larger Image" class="block red"><img src="http://placehold.it/300x300/e74c3c/ffffff/&amp;text=Image+15" alt="Image 15"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded bounceInUp animated"><a href="http://placehold.it/900x500/f02475/ffffff/&amp;text=Image+16" title="View Larger Image" class="block pink"><img src="http://placehold.it/300x300/f02475/ffffff/&amp;text=Image+16" alt="Image 16"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded rotateInUpRight animated"><a href="http://placehold.it/900x500/1abc9c/ffffff/&amp;text=Image+17" title="View Larger Image" class="block turquoise"><img src="http://placehold.it/300x300/1abc9c/ffffff/&amp;text=Image+17" alt="Image 17"></a></div>
        <div class="one sixth three-up-small-tablet two-up-mobile padded bounceInRight animated"><a href="http://placehold.it/900x500/34495e/ffffff/&amp;text=Image+18" title="View Larger Image" class="block asphalt"><img src="http://placehold.it/300x300/34495e/ffffff/&amp;text=Image+18" alt="Image 18"></a></div>
      </article>
