      <div class="padded">
        <div class="row">
          <div class="three fifths bounceInRight animated">
            <h1 class="zero museo-slab">Message Boxes</h1>
            <p class="quicksand">Provide users with feedback or instructions.</p>
          </div>
          <div class="two fifths align-right-ipad align-right-desktop flipInX animated">
            <p class="quicksand">Component Usage Example 7 of 14</p>
            <p><a href="boxes.html" rel="prev" class="blue button">Back</a> <a href="tables.html" rel="next" class="green button">Next: Tables</a></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="one whole padded">
          <div class="row">
            <div class="one whole bounceInLeft animated">
              <div class="pad-top pad-left pad-right">
                <h4>Message Boxes</h4>
              </div>
              <div class="row">
                <div class="one half pad-left pad-right pad-bottom">
                  <p class="message">This is an important message.</p>
                </div>
                <div class="one half pad-left pad-right pad-bottom">
                  <p class="dismissible message">This is a dismissible message.</p>
                </div>
              </div>
              <div class="row">
                <div class="one half pad-left pad-right">
                  <pre data-lang="html">&lt;p class=&quot;message&quot;&gt;This is an important message.&lt;/p&gt;</pre>
                </div>
                <div class="one half pad-left pad-right">
                  <pre data-lang="html">&lt;p class=&quot;message dismissible&quot;&gt;This is a dismissible message.&lt;/p&gt;</pre>
                </div>
              </div>
            </div>
          </div><br>
          <div class="row">
            <div class="one half padded bounceInUp animated">
              <h4>States</h4>
              <p class="info message">This is an info message.</p>
              <p class="info dismissible message">This is a dismissible info message.</p>
              <p class="success message">This is a success message.</p>
              <p class="success dismissible message">This is a dismissible success message.</p>
              <p class="question message">This is a question message.</p>
              <p class="question dismissible message">This is a dismissible question message.</p>
              <p class="alert message">This is an alert message.</p>
              <p class="alert dismissible message">This is a dismissible alert message.</p>
              <p class="warning message">This is a warning message.</p>
              <p class="warning dismissible message">This is a dismissible warning message.</p>
              <p class="error message">This is an error message.</p>
              <p class="error dismissible message">This is a dismissible error message.</p><br>
              <div class="row">
                <div class="one half small-tablet pad-right no-pad-mobile">
                  <h4>Square</h4>
                  <p class="message square">This is a square message.</p>
                  <p class="message square dismissible">This is a dismissible square message.</p>
                </div>
                <div class="one half small-tablet">
                  <h4>Round</h4>
                  <p class="message round align-center">This is a round message.</p>
                  <p class="message round dismissible align-center">This is a dismissible round message.</p>
                </div>
              </div>
            </div>
            <div class="one half padded bounceInDown animated">
              <h4>Colors</h4>
              <p class="yellow message">This is a yellow message.</p>
              <p class="dismissible yellow message">This is a dismissible yellow message.</p>
              <p class="orange message">This is a orange message.</p>
              <p class="dismissible orange message">This is a dismissible orange message.</p>
              <p class="red message">This is a red message.</p>
              <p class="dismissible red message">This is a dismissible red message.</p>
              <p class="pink message">This is a pink message.</p>
              <p class="dismissible pink message">This is a dismissible pink message.</p>
              <p class="purple message">This is a purple message.</p>
              <p class="dismissible purple message">This is a dismissible purple message.</p>
              <p class="asphalt message">This is a asphalt message.</p>
              <p class="dismissible asphalt message">This is a dismissible asphalt message.</p>
              <p class="blue message">This is a blue message.</p>
              <p class="dismissible blue message">This is a dismissible blue message.</p>
              <p class="turquoise message">This is a turquoise message.</p>
              <p class="dismissible turquoise message">This is a dismissible turquoise message.</p>
              <p class="green message">This is a green message.</p>
              <p class="dismissible green message">This is a dismissible green message.</p>
              <p class="charcoal message">This is a charcoal message.</p>
              <p class="dismissible charcoal message">This is a dismissible charcoal message.</p>
            </div>
          </div>
        </div>
      </div>
