      <div class="padded">
        <div class="row">
          <div class="three fifths bounceInRight animated">
            <h1 class="zero museo-slab">Navigation</h1>
            <p class="quicksand">Responsive navigation created by <a href="http://twitter.com/ghepting" target="_blank">Gary Hepting</a></p>
          </div>
          <div class="two fifths align-right-ipad align-right-desktop flipInX animated">
            <p class="quicksand">Component Usage Example 4 of 14</p>
            <p><a href="typography.html" rel="prev" class="blue button">Back</a> <a href="buttons.html" rel="next" class="green button">Next: Buttons</a></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="one whole padded">
          <div class="bounceInLeft animated">
            <h4>Target Breakpoints</h4>
            <div class="row">
              <div class="one whole padded">
                <h4>iPad</h4>
                <nav title="iPad Menu" role="navigation" class="nav">
                  <ul>
                    <li>
                      <button>Nav Item 1</button>
                    </li>
                    <li>
                      <button>Nav Menu 1</button>
                      <ul>
                        <li>
                          <button>Menu Item 1</button>
                        </li>
                        <li>
                          <button>Sub Menu 1</button>
                          <ul>
                            <li>
                              <button>Sub Menu Item 1</button>
                            </li>
                            <li>
                              <button>Sub Menu Item 2</button>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <button>Menu Item 2</button>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <button>Nav Item 3</button>
                    </li>
                  </ul>
                </nav><br>
                <pre data-lang="html">&lt;nav class=&quot;nav&quot; title=&quot;iPad Menu&quot;&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;button&gt;Nav Item 1&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button&gt;Nav Menu 1&lt;/button&gt;
      &lt;ul&gt;
        &lt;li&gt;&lt;button&gt;Menu Item 1&lt;/button&gt;&lt;/li&gt;
        &lt;li&gt;&lt;button&gt;Sub Menu 1&lt;/button&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;button&gt;Sub Menu Item 1&lt;/button&gt;&lt;/li&gt;
            &lt;li&gt;&lt;button&gt;Sub Menu Item 2&lt;/button&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/li&gt;
        &lt;li&gt;&lt;button&gt;Menu Item 2&lt;/button&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;&lt;button&gt;Nav Item 3&lt;/button&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</pre>
              </div>
            </div>
            <div class="row">
              <div class="one whole padded">
                <h4>Small Tablet</h4>
                <nav title="Small Tablet Menu" role="navigation" class="nav small-tablet">
                  <ul>
                    <li>
                      <button>Nav Item 1</button>
                    </li>
                    <li>
                      <button>Nav Menu 1</button>
                      <ul>
                        <li>
                          <button>Menu Item 1</button>
                        </li>
                        <li>
                          <button>Sub Menu 1</button>
                          <ul>
                            <li>
                              <button>Sub Menu Item 1</button>
                            </li>
                            <li>
                              <button>Sub Menu Item 2</button>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <button>Menu Item 2</button>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <button>Nav Item 3</button>
                    </li>
                  </ul>
                </nav><br>
                <pre data-lang="html">&lt;nav class=&quot;nav small-tablet&quot; title=&quot;Small Tablet Menu&quot;&gt;...&lt;/nav&gt;</pre>
              </div>
            </div>
            <div class="row">
              <div class="one whole padded">
                <h4>Mobile</h4>
                <nav title="Mobile Menu" role="navigation" class="nav mobile">
                  <ul>
                    <li>
                      <button>Nav Item 1</button>
                    </li>
                    <li>
                      <button>Nav Menu 1</button>
                      <ul>
                        <li>
                          <button>Menu Item 1</button>
                        </li>
                        <li>
                          <button>Sub Menu 1</button>
                          <ul>
                            <li>
                              <button>Sub Menu Item 1</button>
                            </li>
                            <li>
                              <button>Sub Menu Item 2</button>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <button>Menu Item 2</button>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <button>Nav Item 3</button>
                    </li>
                  </ul>
                </nav><br>
                <pre data-lang="html">&lt;nav class=&quot;nav mobile&quot; title=&quot;Mobile Menu&quot;&gt;...&lt;/nav&gt;</pre>
              </div>
            </div>
            <div class="row">
              <div class="one whole padded">
                <h4>Vegetarian (No Hamburger)</h4>
                <nav role="navigation" class="nav nocollapse">
                  <ul>
                    <li>
                      <button>Nav Item 1</button>
                    </li>
                    <li>
                      <button>Nav Menu 1</button>
                      <ul>
                        <li>
                          <button>Menu Item 1</button>
                        </li>
                        <li>
                          <button>Sub Menu 1</button>
                          <ul>
                            <li>
                              <button>Sub Menu Item 1</button>
                            </li>
                            <li>
                              <button>Sub Menu Item 2</button>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <button>Menu Item 2</button>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <button>Nav Item 3</button>
                    </li>
                  </ul>
                </nav><br>
                <pre data-lang="html">&lt;nav class=&quot;nav nocollapse&quot; title=&quot;Vegetarian Menu&quot;&gt;...&lt;/nav&gt;</pre>
              </div>
            </div>
          </div><br>
          <h4>Colors</h4>
          <div class="row">
            <div class="one half padded">
              <nav role="navigation" class="nav yellow">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="one half padded">
              <nav role="navigation" class="nav orange">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="row gap-top">
            <div class="one half padded">
              <nav role="navigation" class="nav red">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="one half padded">
              <nav role="navigation" class="nav pink">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="row gap-top">
            <div class="one half padded">
              <nav role="navigation" class="nav purple">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="one half padded">
              <nav role="navigation" class="nav asphalt">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="row gap-top">
            <div class="one half padded">
              <nav role="navigation" class="nav blue">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="one half padded">
              <nav role="navigation" class="nav turquoise">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="row gap-top">
            <div class="one half padded">
              <nav role="navigation" class="nav green">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="one half padded">
              <nav role="navigation" class="nav charcoal">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav>
            </div>
          </div><br>
          <hr><br>
          <h4>Vertical Orientation</h4>
          <div class="row">
            <div class="one third padded">
              <h4>iPad</h4>
              <nav title="Vertical iPad Menu" role="navigation" class="nav vertical">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav><br>
              <pre data-lang="html">&lt;nav class=&quot;nav vertical&quot; title=&quot;Vertical iPad Menu&quot;&gt;...&lt;/nav&gt;</pre>
            </div>
            <div class="one third padded">
              <h4>Small Tablet</h4>
              <nav title="Vertical Small-Tablet Menu" role="navigation" class="nav small-tablet vertical">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav><br>
              <pre data-lang="html">&lt;nav class=&quot;nav small-tablet vertical&quot; title=&quot;Vertical Small-Tablet Menu&quot;&gt;...&lt;/nav&gt;</pre>
            </div>
            <div class="one third padded">
              <h4>Mobile</h4>
              <nav title="Vertical Mobile Menu" role="navigation" class="nav mobile vertical">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav><br>
              <pre data-lang="html">&lt;nav class=&quot;nav mobile vertical&quot; title=&quot;Vertical Mobile Menu&quot;&gt;...&lt;/nav&gt;</pre>
            </div>
          </div>
          <div class="row">
            <div class="one whole padded">
              <h4>Vegetarian (No Hamburger)</h4>
              <nav role="navigation" class="nav nocollapse vertical">
                <ul>
                  <li>
                    <button>Nav Item 1</button>
                  </li>
                  <li>
                    <button>Nav Menu 1</button>
                    <ul>
                      <li>
                        <button>Menu Item 1</button>
                      </li>
                      <li>
                        <button>Sub Menu 1</button>
                        <ul>
                          <li>
                            <button>Sub Menu Item 1</button>
                          </li>
                          <li>
                            <button>Sub Menu Item 2</button>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button>Menu Item 2</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button>Nav Item 3</button>
                  </li>
                </ul>
              </nav><br>
              <pre data-lang="html">&lt;nav class=&quot;nav vertical nocollapse&quot;&gt;...&lt;/nav</pre>
            </div>
          </div>
        </div>
      </div>
