      <div class="padded">
        <div class="row">
          <div class="three fifths bounceInRight animated">
            <h1 class="zero museo-slab">Placeholder Text</h1>
            <p class="quicksand">Rapid prototyping with dynamic placeholder text and the <a href="https://github.com/christiannaths/Redacted-Font" target="_blank">Redacted</a> placeholder fonts.</p>
          </div>
          <div class="two fifths align-right-ipad align-right-desktop flipInX animated">
            <p class="quicksand">Component Usage Example 13 of 14</p>
            <p><a href="responsive_text.html" rel="prev" class="blue button">Back</a> <a href="animations.html" rel="next" class="green button">Next: Animations</a></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="one whole padded">
          <div class="bounceInLeft animated">
            <h4 class="zero">Dynamic Placeholder Text</h4>
            <p class="small zero">Dynamically generated placeholder text</p>
            <div class="row">
              <div class="one whole padded">
                <div class="row">
                  <div class="one third padded">
                    <div class="placeholderText"></div>
                  </div>
                  <div class="one third padded">
                    <div data-placeholder-type="words" data-placeholder-amount="100" class="placeholderText"></div>
                  </div>
                  <div class="one third padded">
                    <h1 data-placeholder-type="words" data-placeholder-amount="3" data-placeholder-punctuation="false" data-placeholder-html="false" class="placeholderText"></h1>
                  </div>
                </div>
                <div class="row">
                  <div class="one third pad-left pad-right">
                    <pre data-lang="html" class="gap-top">&lt;div class=&quot;placeholderText&quot;&gt;&lt;/div&gt;</pre>
                    <p class="small">Default options (1 paragraph, including HTML paragraph tags and punctuation)</p>
                  </div>
                  <div class="one third pad-left pad-right">
                    <pre data-lang="html" class="gap-top">&lt;div class=&quot;placeholderText&quot; 
     data-placeholder-type=&quot;words&quot; 
     data-placeholder-amount=&quot;100&quot;&gt;
&lt;/div&gt;</pre>
                    <p class="small">100 words, including HTML paragraph tags and punctuation</p>
                  </div>
                  <div class="one third pad-left pad-right">
                    <pre data-lang="html" class="gap-top">&lt;h1 class=&quot;placeholderText&quot;
     data-placeholder-type=&quot;words&quot;
     data-placeholder-amount=&quot;3&quot;
     data-placeholder-punctuation=&quot;false&quot;
     data-placeholder-html=&quot;false&quot;&gt;
&lt;/h1&gt;</pre>
                    <p class="small">3 words without HTML paragraph tags or punctuation</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bounceInRight animated"><br>
            <hr>
            <h4 class="zero">Redacted Placeholder Fonts</h4>
            <div class="row">
              <div class="one whole padded">
                <div class="row">
                  <div class="one whole padded">
                    <p>Redacted</p>
                    <div data-placeholder-amount="3" class="placeholderText redacted"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="one third padded">
                    <p>Redacted Script</p>
                    <div data-placeholder-amount="1" class="placeholderText redacted-script"></div>
                  </div>
                  <div class="one third padded">
                    <p>Redacted Script Light</p>
                    <div data-placeholder-amount="1" class="placeholderText redacted-script-light"></div>
                  </div>
                  <div class="one third padded">
                    <p>Redacted Script Bold</p>
                    <div data-placeholder-amount="1" class="placeholderText redacted-script-bold"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
