      <div class="padded">
        <div class="row">
          <div class="three fifths bounceInRight animated">
            <h1 class="zero museo-slab">Tables</h1>
            <p class="quicksand">Clean and easy to customize styling for tabular data.</p>
          </div>
          <div class="two fifths align-right-ipad align-right-desktop flipInX animated">
            <p class="quicksand">Component Usage Example 8 of 14</p>
            <p><a href="messages.html" rel="prev" class="blue button"> Back</a> <a href="tabs.html" rel="next" class="green button">Next: Tabs</a></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="one whole padded">
          <div class="bounceInLeft animated">
            <h4>Responsive Data Table</h4>
            <div class="row">
              <div class="one whole padded">
                <table data-max="15" class="responsive">
                  <thead>
                    <tr>
                      <th>Table Heading</th>
                      <th>Table Heading</th>
                      <th>Table Heading</th>
                      <th>Table Heading</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                      <td>Footer cell</td>
                      <td>Footer cell</td>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="one whole pad-left pad-right">
                <pre data-lang="html">&lt;table class=&quot;responsive&quot; data-max=&quot;15&quot;&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Table Heading&lt;/th&gt;
      &lt;th&gt;Table Heading&lt;/th&gt;
      &lt;th&gt;Table Heading&lt;/th&gt;
      &lt;th&gt;Table Heading&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
      &lt;td&gt;Table cell&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
  &lt;tfoot&gt;
    &lt;tr&gt;
      &lt;td&gt;Footer cell&lt;/td&gt;
      &lt;td&gt;Footer cell&lt;/td&gt;
      &lt;td&gt;Footer cell&lt;/td&gt;
      &lt;td&gt;Footer cell&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tfoot&gt;
&lt;/table&gt;</pre>
              </div>
            </div>
          </div>
          <hr><br>
          <div class="bounceInRight animated">
            <h4>States</h4>
            <div class="row">
              <div class="one third padded">
                <table data-max="15" class="responsive info">
                  <thead>
                    <tr>
                      <th>Info Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="one third padded">
                <table data-max="15" class="responsive success">
                  <thead>
                    <tr>
                      <th>Success Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="one third padded">
                <table data-max="15" class="responsive alert">
                  <thead>
                    <tr>
                      <th>Alert Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="one third padded">
                <table data-max="15" class="responsive question">
                  <thead>
                    <tr>
                      <th>Question Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="one third padded">
                <table data-max="15" class="responsive warning">
                  <thead>
                    <tr>
                      <th>Warning Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="one third padded">
                <table data-max="15" class="responsive error">
                  <thead>
                    <tr>
                      <th>Error Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <hr><br>
          <div class="bounceInUp animated">
            <h4>Colors</h4>
            <div class="row">
              <div class="one third padded">
                <table data-max="15" class="responsive yellow">
                  <thead>
                    <tr>
                      <th>Yellow Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="one third padded">
                <table data-max="15" class="responsive orange">
                  <thead>
                    <tr>
                      <th>Orange Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="one third padded">
                <table data-max="15" class="responsive red">
                  <thead>
                    <tr>
                      <th>Red Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="one third padded">
                <table data-max="15" class="responsive pink">
                  <thead>
                    <tr>
                      <th>Pink Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="one third padded">
                <table data-max="15" class="responsive purple">
                  <thead>
                    <tr>
                      <th>Purple Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="one third padded">
                <table data-max="15" class="responsive asphalt">
                  <thead>
                    <tr>
                      <th>Asphalt Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="one third padded">
                <table data-max="15" class="responsive blue">
                  <thead>
                    <tr>
                      <th>Blue Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="one third padded">
                <table data-max="15" class="responsive turquoise">
                  <thead>
                    <tr>
                      <th>Turquoise Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="one third padded">
                <table data-max="15" class="responsive green">
                  <thead>
                    <tr>
                      <th>Green Table</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Footer cell</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
