<h1>Classifieds</h1> 
<hr/>

<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default">Boards</a>
  <a href="#" class="btn btn-default">Bindings</a>
  <a href="#" class="btn btn-default">Boots</a>
  <a href="#" class="btn btn-default">Helmets</a>
  <a href="#" class="btn btn-default">Goggles</a>
  <a href="#" class="btn btn-default">Apparel</a>
</div>

<br>

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Boards
  </li>
  <li class="list-group-item">
    <span class="badge">2</span>
    Bindings
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    Boots
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    Helmets
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    Goggles
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    Apparel
  </li>
</ul>

<div class="comments container">
  <div class="row">
    <h3>Boards</h3>
    <hr/>
  </div>
  <div class="well well-sm row">
    <img src="http://lorempixel.com/48/48/people" alt="" class="img-circle pull-left" />
    <a href="#">ggoulart</a> <em>on March 5th, 2014</em><br>
    What a cool photo!
  </div>
</div>

<div class="comments container">
  <div class="row">
    <h3>Bindings</h3>
    <hr/>
  </div>
  <div class="well well-sm row">
    <img src="http://lorempixel.com/48/48/people" alt="" class="img-circle pull-left" />
    <a href="#">ggoulart</a> <em>on March 5th, 2014</em><br>
    What a cool photo!
  </div>
</div>

<div class="comments container">
  <div class="row">
    <h3>Boots</h3>
    <hr/>
  </div>
  <div class="well well-sm row">
    <img src="http://lorempixel.com/48/48/people" alt="" class="img-circle pull-left" />
    <a href="#">ggoulart</a> <em>on March 5th, 2014</em><br>
    What a cool photo!
  </div>
</div>

<div class="comments container">
  <div class="row">
    <h3>Helmets</h3>
    <hr/>
  </div>
  <div class="well well-sm row">
    <img src="http://lorempixel.com/48/48/people" alt="" class="img-circle pull-left" />
    <a href="#">ggoulart</a> <em>on March 5th, 2014</em><br>
    What a cool photo!
  </div>
</div>

<div class="comments container">
  <div class="row">
    <h3>Goggles</h3>
    <hr/>
  </div>
  <div class="well well-sm row">
    <img src="http://lorempixel.com/48/48/people" alt="" class="img-circle pull-left" />
    <a href="#">ggoulart</a> <em>on March 5th, 2014</em><br>
    What a cool photo!
  </div>
</div>

<div class="comments container">
  <div class="row">
    <h3>Apparel</h3>
    <hr/>
  </div>
  <div class="well well-sm row">
    <img src="http://lorempixel.com/48/48/people" alt="" class="img-circle pull-left" />
    <a href="#">ggoulart</a> <em>on March 5th, 2014</em><br>
    What a cool photo!
  </div>
</div>

