<h1>Classifieds</h1> 
<hr/>

<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default active">All</a>
  <a href="#" class="btn btn-default">Boards</a>
  <a href="#" class="btn btn-default">Bindings</a>
  <a href="#" class="btn btn-default">Boots</a>
  <a href="#" class="btn btn-default">Helmets</a>
  <a href="#" class="btn btn-default">Goggles</a>
  <a href="#" class="btn btn-default">Apparel</a>
</div>

<br>

<ul class="list-group">
  <li class="list-group-item">
    Nov 17 <a href="#"><b>(:^^:)SIMS Snowboard Destiny158cm.(###)</b></a>
    <span class="badge">$110</span>
    (richmond bc) pic sporting goods
  </li>
  <li class="list-group-item">
    Nov 17 <a href="#"><b>bataleon evil twin 159</b></a>
    <span class="badge">$180</span>
    pic sporting goods
  </li>
  <li class="list-group-item">
    Nov 17 <a href="#"><b>Bonfire Snowboard Pants</b></a>
    <span class="badge">$50</span>
    (Coquitlam) pic sporting goods
  </li>
  <li class="list-group-item">
    Nov 17 <a href="#"><b>Men's Arcteryx Rush Jacket</b></a>
    <span class="badge">$350</span>
    (Coquitlam) pic sporting goods
  </li>
  <li class="list-group-item">
    Nov 17 <a href="#"><b>kid sized motorcycle helmut, and a 'zeppelin' snowboard</b></a>
    <span class="badge">$4030</span>
    (coquitlam west) map general
  </li>
  <li class="list-group-item">
    Nov 17 <a href="#"><b>Snowboard Boots/Burton Shawn White/Size9.5</b></a>
    <span class="badge">$30</span>
    (Kits) pic map sporting goods
  </li>
  <li class="list-group-item">
    Nov 17 <a href="#"><b>Burton Kids Snowboard Equipment</b></a>
    <span class="badge">$200</span>
    (Squamish) pic map sporting goods
  </li>
  <li class="list-group-item">
    Nov 17 <a href="#"><b>Ride &amp; Rossignol Snowboard for SALE</b></a>
    <span class="badge">$200</span>
    (Richmond) pic map sporting goods
  </li>
  <li class="list-group-item">
    Nov 17 <a href="#"><b>KIDS SIMS SNOWBOARD with BINDINGS</b></a>
    <span class="badge">$140</span>
    (Langley) pic sporting goods
  </li>
  <li class="list-group-item">
    Nov 17 <a href="#"><b>BOYS BURTON CHOPPER SNOWBOARD with BINDINGS</b></a>
    <span class="badge">$160</span>
    (Langley) pic sporting goods
  </li>
  <li class="list-group-item">
    Nov 17 <a href="#"><b>Boys XL ski/snowboard jacket</b></a>
    <span class="badge">$20</span>
    (Central Burnaby) pic map clothing &amp; accessories
  </li>
  <li class="list-group-item">
    Nov 17 <a href="#"><b>Ladies beginner Snowboard and Bindings</b></a>
    <span class="badge">$175</span>
    (Maple Ridge) pic map sporting goods
  </li>
</ul>

<nav class="text-center">
  <ul class="pagination">
    <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
  </ul>
</nav>
