<% content_for :highlight do %>
  <div class="container">
    <div class="photo-highlight-label">
      <h2><%= @photo.try(:title) %></h2>
      <p>Photography by: <%= @photo.try(:user => :name) %></p>
    </div>
  </div>
  <div class="photo-highlight">
    <img src="<%= @photo.try(:image) %>"/>
  </div>
<% end %>
<div class="mission text-center">
  <h3><strong>SNOW'D IN</strong></h3> 
  <h3>A community of snowboarders built by snowboarders</h3>
</div>
