<h1>Media</h1>
<hr/>

<div class="row">
  <div class="col-sm-2">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      Sweet air!<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">Air</span>
    </a>
  </div>
</div>