<h1>Media</h1>
<hr/>

<div class="row">
  <div class="col-lg-2 col-sm-3 col-xs-4">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      Sweet air!<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">Air</span>
    </a>
  </div>
  <div class="col-lg-2 col-sm-3 col-xs-4">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      Tricks!<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">360</span>
    </a>
  </div>
  <div class="col-lg-2 col-sm-3 col-xs-4">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      Stunning!<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">Mountains</span>
    </a>
  </div>
  <div class="col-lg-2 col-sm-3 col-xs-4">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      101<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">Crazy</span>
    </a>
  </div>
  <div class="col-lg-2 col-sm-3 col-xs-4">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      Brrrrr<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">Snow</span>
  </a>
  </div>
   <div class="col-lg-2 col-sm-3 col-xs-4">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      Here and now!<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">View</span>
    </a>
  </div>
   <div class="col-lg-2 col-sm-3 col-xs-4">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      Ripping!<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">Snow</span>
    </a>
  </div>
   <div class="col-lg-2 col-sm-3 col-xs-4">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      Sharp stuff!<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">Gear</span>
    </a>
  </div>
  <div class="col-lg-2 col-sm-3 col-xs-4">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      Here we go!<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">Boarding</span>
    </a>
  </div>
  <div class="col-lg-2 col-sm-3 col-xs-4">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      Colours!<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">Sunset</span>
    </a>
  </div>
  <div class="col-lg-2 col-sm-3 col-xs-4">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      Tracks!<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">Wildlife</span>
    </a>
  </div>
  <div class="col-lg-2 col-sm-3 col-xs-4">
    <a href="/media/show.html" class="thumbnail img-responsive">
      <img src="http://placehold.it/200x200" />
      How high!<br/>
      <small><cite title="Source Title">Username</cite></small>
      <span class="label label-primary">Go for it</span>
    </a>
  </div>
</div>