<h1>Media</h1>
<hr/>

<div class="text-center">
  <img src="http://upload.wikimedia.org/wikipedia/commons/6/61/Snowboarding1.jpg" class="img-thumbnail" />
</div>

<div>
  <p>Sweet air!</p>
  <small><cite title="Source Title">Username</cite></small>
  <span class="label label-primary">Air</span>
</div>

<div class="comments container">
  <div class="row">
    <h3>Comments</h3>
    <hr/>
  </div>
  <div class="well well-sm row">
    <img src="http://lorempixel.com/48/48/people" alt="" class="img-circle pull-left" />
    <a href="#">ggoulart</a> <em>on March 5th, 2014</em><br>
    What a cool photo!
  </div>
</div>