<h1>Photos</h1>
<hr/>

<div class="row">
  <% @photos.each do |photo| %>
    <div class="col-lg-2 col-sm-3 col-xs-4">
        <p><%= link_to image_tag(photo.image_url(:thumb)), photo_path(photo.id), :class => 'thumbnail img-responsive' %></p>
        <p><%= photo.title %></p><br/>
        <small><cite title="Source Title"><%= photo.user.name %></cite></small>
        <span class="label label-primary">Air</span>
      </a>
    </div>
  <% end %> 
</div>
