/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
*= require_self
 */

body {
  padding-top: 4.8em;
  background: #222!important;
}

body > .container {
  min-height: 100%;
  background: #fff;
}

body > .container > .btn-primary:first-child {
  position: relative;
  top: 1.33em;
}


.navbar.navbar-default li {
  padding: 1em 0;
  /*background:#1c1c1c;*/
}

#footer {
  color:#666;
  background:#222;
}

#footer .text-right {
  padding:1em 0 0;
}

.navbar-brand {
  padding: 25px 15px;
  font-size: 30px;
}