// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location-thumbnail{
  width:100px;
  height:4em;
  margin-right:1em;
  overflow:hidden;
  float:left;
}

.mtn-info {
  padding-left: 30px;
  padding-right: 30px;
}

.edge  {
  margin-left: 30px;
  margin-right: 30px;
}
