// Place all the styles related to the media_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments .pull-left {
  margin-right: .75em;
}
.comments em {
  color: #aaa;
  font-size: .75em;
}