<h1>Find yo Mountain!</h1>


<% @locations.each do |location| %>
	<h2> <%= link_to location.title, location_path(location)  %> </h2>
	<p> <%= location.description %> </p>
	<h3 class="upvote"> <%= location.upvote %> </h3>
	<hr>
<% end %>



