<h1>Mountains</h1>
<hr/>

<ul class="list-group mountain">
  <% @locations.each do |location| %>
    <li class="list-group-item">
      <div class="location-thumbnail"><%= image_tag(location.url, style: "width:100%") %></div>
      <strong><%= link_to location.title, location_path(location) %></strong><br/>
      <%= truncate(location.essay, length: 240)%>
      <%= link_to "More »", location_path(location) %>
    </li>
  <% end %>
</ul>

