<h2> <%= @location.title %> </h2>
<hr>

<div class="container-fluid">
	<div class="text-center">
		<%= image_tag(@location.url, size: "500", class: "img-rounded") %> 
	</div>

	<div class="panel panel-default">
	  <div class="panel-body">
			<%= @location.essay %> 
	  </div>
	</div>
	<ul class="pager">
		<li>
			<%= link_to "All mountains", locations_path %> <br/>
		</li>
	</ul>
</div>




